<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalJournal.My.MySettings.JournalDB1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\JournalDB1.mdb"
            providerName="System.Data.OleDb" />
        <add name="FinalJournal.My.MySettings.LoginConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Login.mdb"
            providerName="System.Data.OleDb" />
        <add name="FinalJournal.My.MySettings.SuperUserConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SuperUser.mdb"
            providerName="System.Data.OleDb" />
        <add name="FinalJournal.My.MySettings.journal12ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\journal12.mdb"
            providerName="System.Data.OleDb" />
        <add name="FinalJournal.My.MySettings.LogConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\N Chandra Kanth\Desktop\Log.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FinalJournal.My.MySettings.JMConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\N Chandra Kanth\Desktop\Journal_Management.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FinalJournal.My.MySettings.loginConnectionString1"
            connectionString="server=localhost;user id=root;password=Aiden8055;database=login"
            providerName="MySql.Data.MySqlClient" />
        <add name="FinalJournal.My.MySettings.journalConnectionString"
            connectionString="server=localhost;user id=root;database=journal"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>